<div class="container">
  <h1>Hi, <%= current_user.full_name %>!</h1>
  <br>
  <p>Here is your profile description:</p>
  <div class="profile-description">
    <%= current_user.description %>
  </div>

  
</div>